services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ddp_api_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./docker/php/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
    depends_on:
      - db


  nginx:
    image: nginx:alpine
    container_name: ddp_api_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: ddp_api_db
    environment:
      MYSQL_DATABASE: ddp_api
      MYSQL_USER: ddp_user
      MYSQL_PASSWORD: ddp_pass
      MYSQL_ROOT_PASSWORD: root_pass
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
